@font-face {
    font-family: 'mandhor';
    src: url(Mandhor-ALEmp.otf);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'goldleaf';
    src: url(GoldleafBoldPersonalUseBold-eZ4dO.ttf);
    font-style: normal;
    font-weight: 100;
}

html,body
{

    margin: 0px;
    padding: 0px;
    overflow-x: hidden !important;
}

.bg1{
  background-repeat: no-repeat;
  background: linear-gradient(to right, #E4E2AF, #DDC382,#DDC382, #E4E2AF) no-repeat center center fixed;
  text-align: center;
	width: 100%;
  height: auto;
  background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
}

.bg2{
  height: 100%;
  background-repeat: no-repeat;
  background: url('img/horus_bg.jpg') no-repeat center center fixed;
  background-size: 100% 100%;
  margin-top: 0%;
}



.img1{
    margin-top: -20%;
    margin-bottom: -4px;
    width: 100%;
    height: 100vh;
    background-size: cover;
    
}
.txt1{ 
margin-top: 0%; 
text-align: center;
color: black; 
font-family: goldleaf;
font-size: 250px;
}

.txt2{
  margin-top: -50%; 
  text-align: right;
  color: black; 
  font-family: mandhor;
  font-size: 100px;
    
    }

    .txt3{
        
        text-align: center;
        color: black; 
        font-family: mandhor;
        font-size: 100px;
        
        }

        .txt4{
        
            text-align: center;
            color: white; 
            font-family: goldleaf;
            font-size: 20px;
            
            }

            .txt5{
        
                text-align: center;
                color: white; 
                font-family: mandhor;
                font-size: 100px;
                
                }

                [type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
}
.menu-icon:checked + label,
.menu-icon:not(:checked) + label{
  position: fixed;
  top: 63px;
  right: 75px;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  z-index: 10;
}
.menu-icon:checked + label:before,
.menu-icon:not(:checked) + label:before{
  position: absolute;
  content: '';
  display: block;
  width: 30px;
  height: 20px;
  z-index: 20;
  top: 0;
  left: 0;
  border-top: 2px solid #ececee;
  border-bottom: 2px solid #ececee;
  transition: border-width 100ms 1500ms ease, 
              top 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1),
              height 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1), 
              background-color 200ms ease,
              transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:after,
.menu-icon:not(:checked) + label:after{
  position: absolute;
  content: '';
  display: block;
  width: 22px;
  height: 2px;
  z-index: 20;
  top: 10px;
  right: 4px;
  background-color: #ececee;
  margin-top: -1px;
  transition: width 100ms 1750ms ease, 
              right 100ms 1750ms ease,
              margin-top 100ms ease, 
              transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:before{
  top: 10px;
  transform: rotate(45deg);
  height: 2px;
  background-color: #ececee;
  border-width: 0;
  transition: border-width 100ms 340ms ease, 
              top 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
              height 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1), 
              background-color 200ms 500ms ease,
              transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:after{
  width: 30px;
  margin-top: 0;
  right: 0;
  transform: rotate(-45deg);
  transition: width 100ms ease,
              right 100ms ease,  
              margin-top 100ms 500ms ease, 
              transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav{
  position: fixed;
  top: 33px;
  right: 50px;
  display: block;
  width: 80px;
  height: 80px;
  padding: 0;
  margin: 0;
  z-index: 9;
  overflow: hidden;
  box-shadow: 0 8px 30px 0 rgba(0,0,0,0.3);
  background-color: #000000;
  animation: border-transform 7s linear infinite;
  transition: top 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),  
              right 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
              transform 250ms 1100ms ease,
              width 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1),
              height 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
@keyframes border-transform{
    0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
  14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
  28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
  42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
  56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
  70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
  84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
}

.menu-icon:checked ~ .nav {
  animation-play-state: paused;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 200%;
  height: 200%;
  transition: top 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),  
              right 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),
              transform 250ms 700ms ease,
              width 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1),
              height 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav ul{
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 6;
  text-align: center;
  transform: translateY(-50%);
  list-style: none;
}
.nav ul li{
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  margin: 10px 0;
  text-align: center;
  list-style: none;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  transition: all 250ms linear;
}
.nav ul li:nth-child(1){
  transition-delay: 200ms;
}
.nav ul li:nth-child(2){
  transition-delay: 150ms;
}
.nav ul li:nth-child(3){
  transition-delay: 100ms;
}
.nav ul li:nth-child(4){
  transition-delay: 50ms;
}
.nav ul li a{
  font-family: 'Montserrat', sans-serif;
  font-size: 9vh;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 800;
  display: inline-block;
  position: relative;
  color: #ececee;
  transition: all 250ms linear;
}
.nav ul li a:hover{
  text-decoration: none;
  color: #ffeba7;
}
.nav ul li a:after{
  display: block;
  position: absolute;
  top: 50%;
  content: '';
  height: 2vh;
  margin-top: -1vh;
  width: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.8;
  transition: width 250ms linear;
}
.nav ul li a:hover:after{
  width: 100%;
}


.menu-icon:checked ~ .nav  ul li {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 350ms ease,
              transform 250ms ease;
}
.menu-icon:checked ~ .nav ul li:nth-child(1){
  transition-delay: 1400ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(2){
  transition-delay: 1480ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(3){
  transition-delay: 1560ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(4){
  transition-delay: 1640ms;
}



.logo {
	position: fixed;
	top: 10px;
	left: 50px;
	display: block;
	z-index: 11;
	transition: all 250ms linear;
}
.logo img {
	height: 100%;
	width: 20%;
	display: block;
}



@media screen and (max-width: 991px) {
  .menu-icon:checked + label,
  .menu-icon:not(:checked) + label{
    right: 55px;
  }
  .logo {
    left: 30px;
  }
  .nav{
    right: 30px;
  }
  .nav ul li a{
    font-size: 8vh;
  }
}



#container{
	box-shadow: 0 15px 30px 1px grey;
	background: rgba(255, 255, 255, 0.5);
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
    margin: 5em auto;
	height: 500px;
	width: 500px;
  
	
}

@media only screen and (min-width: 320px) and (max-width: 496px) {

  #container{
    box-shadow: 0 15px 30px 1px grey;
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    margin-left: 25px;
    margin: 5em auto;
	height: 460px;
	width: 500px;
    
    
  }
	
}

@media (min-width: 600px) {
  #container{
    box-shadow: 0 15px 30px 1px grey;
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    margin-left: 25px;
    height: 450px;
    width: 1000px;
    
    
  }
}


.product-details {
	position: relative;
	text-align: left;
	overflow: hidden;
	padding: 30px;
	height: 100%;
	float: left;
	width: 40%;

}

#container .product-details h1{
	display: inline-block;
	position: relative;
	font-size: 50px;
	color: #000;
	margin: 0;
	
}

#container .product-details h1:before{
	position: absolute;
	content: '';
	right: 0%; 
	top: 0%;
	transform: translate(25px, -15px);
	display: inline-block;
	border-radius: 5px;
	font-size: 14px;
	padding: 5px;
	color: white;
	margin: 0;
	animation: chan-sh 6s ease infinite;

}

#container .product-details > p {
	text-align: center;
	font-size: 25px;
	color: #000;
	
}

#container2{
	box-shadow: 0 15px 30px 1px grey;
	background: rgba(255, 255, 255, 0.5);
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
    margin: 5em auto;
    margin-top: 10%;
	height: 450px;
	width: 1000px;
  
	
}

@media only screen and (min-width: 820px) and (max-width: 1015px) {
  #container{
    box-shadow: 0 15px 30px 1px grey;
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 25px;
    margin-top: 10%;
    height: 450px;
    width: 800px;
    
    
  }

  #container2{
    box-shadow: 0 15px 30px 1px grey;
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 25px;
    margin-top: 10%;
    height: 450px;
    width: 800px;
    
    
  }
}

@media only screen and (min-width: 620px) and (max-width: 819px) {
  #container{
    box-shadow: 0 15px 30px 1px grey;
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 25px;
    margin-top: 10%;
    height: 450px;
    width: 600px;
    
    
  }

  #container2{
    box-shadow: 0 15px 30px 1px grey;
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 25px;
    margin-top: 10%;
    height: 450px;
    width: 620px;
    
    
  }
}

@media only screen and (min-width: 520px) and (max-width: 619px) {
  #container{
    box-shadow: 0 15px 30px 1px grey;
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 25px;
    margin-top: 10%;
    height: 520px;
    width: 520px;
    
    
  }

  #container2{
    box-shadow: 0 15px 30px 1px grey;
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 25px;
    margin-top: 10%;
    height: 520px;
    width: 520px;
    
    
  }
}

@media only screen and (min-width: 450px) and (max-width: 519px) {
  #container{
    box-shadow: 0 15px 30px 1px grey;
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 25px;
    margin-top: 10%;
    height: 520px;
    width: 450px;
    
  }

  #container2{
    box-shadow: 0 15px 30px 1px grey;
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 25px;
    margin-top: 10%;
    height: 600px;
    width: 450px;
    
    
  }

  .txt1{ 
    margin-top: 0%; 
    text-align: center;
    color: black; 
    font-family: goldleaf;
    font-size: 180px;
    }
}

@media only screen and (min-width: 380px) and (max-width: 449px) {
  #container{
    box-shadow: 0 15px 30px 1px grey;
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 25px;
    margin-top: 10%;
    height: 620px;
    width: 400px;
    
  }

  #container2{
    box-shadow: 0 15px 30px 1px grey;
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 25px;
    margin-top: 10%;
    height: 680px;
    width: 400px;
    
    
  }

  .txt1{ 
    margin-top: 0%; 
    text-align: center;
    color: black; 
    font-family: goldleaf;
    font-size: 180px;
    }

    .txt5{
        
      text-align: center;
      color: white; 
      font-family: mandhor;
      font-size: 80px;
      
      }
      
}

@media only screen and (min-width: 320px) and (max-width: 379px) {
  #container{
    box-shadow: 0 15px 30px 1px grey;
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 25px;
    margin-top: 10%;
    height: 620px;
    width: 400px;
    
  }

  #container2{
    box-shadow: 0 15px 30px 1px grey;
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 25px;
    margin-top: 10%;
    height: 680px;
    width: 400px;
  }

  .txt1{ 
    margin-top: 0%; 
    text-align: center;
    color: black; 
    font-family: goldleaf;
    font-size: 180px;
    }

    .txt5{
        
      text-align: center;
      color: white; 
      font-family: mandhor;
      font-size: 80px;
      
      }
  
}

#container2 .product-details h1{
	display: inline-block;
	position: relative;
	font-size: 50px;
	color: #000;
	margin: 0;
	
}

#container2 .product-details h1:before{
	position: absolute;
	content: '';
	right: 0%; 
	top: 0%;
	transform: translate(25px, -15px);
	display: inline-block;
	border-radius: 5px;
	font-size: 14px;
	padding: 5px;
	color: white;
	margin: 0;
	animation: chan-sh 6s ease infinite;

}

#container2 .product-details > p {
	text-align: center;
	font-size: 25px;
	color: #000;
	
}

.control{
	position: absolute;
	bottom: 20%;
	left: 22.8%;
	
}
.btn {

	transform: translateY(0px);
	transition: 0.3s linear;
	background:  #809fff;
	border-radius: 5px;
  position: relative;
  overflow: hidden;
	cursor: pointer;
	outline: none;
	border: none;
	color: #eee;
	padding: 0;
	margin: 0;
	
}

.btn:hover{transform: translateY(-6px);
	background: #1a66ff;}

.btn span {
	font-family: 'Farsan', cursive;
	transition: transform 0.3s;
	display: inline-block;
  padding: 10px 20px;
	font-size: 1.2em;
	margin:0;
	
}
.btn .price, .shopping-cart{
	background: #333;
	border: 0;
	margin: 0;
}

.btn .price {
	transform: translateX(-10%); padding-right: 15px;
}

.btn .shopping-cart {
	transform: translateX(-100%);
  position: absolute;
	background: #333;
	z-index: 1;
  left: 0;
  top: 0;
}

.btn .buy {z-index: 3; font-weight: bolder;}

.btn:hover .price {transform: translateX(-110%);}

.btn:hover .shopping-cart {transform: translateX(0%);}



.product-image {
	transition: all 0.3s ease-out;
	display: inline-block;
	position: relative;
	overflow: hidden;
	height: 100%;
	float: right;
	width: 45%;
	display: inline-block;
}

#container img {width: 100%;height: 100%;}

.info {
    background: rgba(27, 26, 26, 0.9);
    font-family: 'Bree Serif', serif;
    transition: all 0.3s ease-out;
    transform: translateX(-100%);
    position: absolute;
    line-height: 1.8;
    text-align: left;
    font-size: 105%;
    cursor: no-drop;
    color: #FFF;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.info h2 {text-align: center}
.product-image:hover .info{transform: translateX(0);}

.info ul li{transition: 0.3s ease;}
.info ul li:hover{transform: translateX(50px) scale(1.3);}

.product-image:hover img {transition: all 0.3s ease-out;}
.product-image:hover img {transform: scale(1.2, 1.2);}


input[type="range"] {
    position: absolute;
    width: 100%;
    display: block;
    cursor: pointer;
    background: transparent;
    -webkit-appearance: none;
    height: 5px;
    z-index: 1;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: none;
    height: 10px;
    width: 10px;
  }
  
  input[type="range"]::-webkit-slider-runnable-track {
    background: transparent;
    height: 10px;
  }
  
  #range {
    position: relative;
    background-color: grey;
    padding: 0px;
    height: 5px;
    width: 100%;
    display: block;
  }
  
  input[type="range"]:focus {
    outline: none;
  }
  
  .range-indicator {
    position: absolute;
    background: #007bff;
    height: 5px;
    z-index: 1;
    width: 0%;
    display: block;
    transition: all 0.5s;
  }
  
  .card {
    width: 300px;
    margin: 10rem auto;
    padding: 0px;
    box-shadow: 0px 0px 100px black;
  }
  
  .card-body {
    padding: 0px;
    text-align: center;
    padding-bottom: 30px;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
  }
  
  #tracktime {
    text-align: center;
    padding: 10px;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
  }
  
  .controls {
    display: inline;
    margin: auto;
    padding: 0px;
  }
  
  .album-img {
    width: 100%;
  }
  
  #album-carousel {
    width: 100%;
    margin: auto;
  }
  
  .control-btn {
    padding: 7px 7px;
    color: black;
    background: transparent;
    border: none;
    margin: 0px 30px;
    font-size: 23px;
    transition: color 0.2s;
  }
  
  .control-btn:hover {
    background: transparent;
    color: #f44336;
    cursor: pointer;
  }
  
  .control-btn:focus {
    outline: none;
  }
  
  .control-btn:active {
    border: none;
    outline: none;
  }
  
  #play-pause {
    width: 10%;
    transition: all 0.2s;
    color: #f44336;
  }
  
  #songName {
    height: 54px;
    padding: 10px;
    padding-top: 15px;
    font-size: 27px;
    font-family: "Roboto", sans-serif;
    transition: all 0.5s;
  }
  
  .range-indicator-pause {
    background-color: #f44336;
    transition: all 0.5s;
  }
  
  #playlist-btn {
    position: absolute;
    transform: translate(-130px, 25px);
    background: transparent;
    border: none;
    transition: color 0.2s;
  }
  
  #playlist-btn:hover {
    cursor: pointer;
  }
  
  #shuffle-btn {
    position: absolute;
    transform: translate(105px, 25px);
    background: transparent;
    border: none;
    transition: color 0.2s;
  }
  
  .playlist {
    position: absolute;
    width: 298px;
    height: 0px;
    background: transparent;
    z-index: 1;
    overflow: hidden;
    transition: all 0.5s;
  }
  
  .list-group-item:hover {
    cursor: pointer;
  }
  
  .list-group-item {
    background-color: transparent;
    transition: background-color 0.5s;
    color: white;
    border-color: white transparent;
  }
  
  .list-group-item.active {
    transition: background-color 0.4s;
    background-color: #007bffa1;
    border-color: transparent;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #000000a1;
  }

  .typing-demo {
    width: 4ch;
    animation: typing 2s steps(22), blink .3s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;

  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

  .footer-custom {
    color: #888;
    max-width: 1008px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 24px;
  }
  
  .footer-custom:after {
    display: table;
    clear: both;
    content: "";
  }
  
  .footer-lists:after {
    display: table;
    clear: both;
    content: "";
  }
  
  .ftr-hdr {
    color: #FFF;
    font-family: dylovastuff;
    margin: 1em 0 0;
  }
  
  @media only screen and (min-width: 768px) {
    .ftr-hdr {
      font-size: 18px;
    }
  }
  
  .footer-list-wrap {
    width: 50%;
    float: left;
    box-sizing: border-box;
  }
  
  @media only screen and (min-width: 568px) {
    .footer-list-wrap {
      width: 33.3333%;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .footer-list-wrap {
      width: 25%;
    }
  }
  
  .ftr-links-sub {
    padding: 0;
    margin: 0;
  }
  
  .ftr-links-sub:after {
    display: table;
    clear: both;
    content: "";
  }
  
  .ftr-links-sub li {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 3px 0;
    color: #888;
    font-size: 15px;
    text-transform: uppercase;
    /*width: 150px;*/
  }
  
  .footer-custom a,
  .footer-custom a:link,
  .footer-custom a:visited,
  .ftr-links-sub li .link {
    text-decoration: none;
    color: #888;
    padding: 5px 0;
    display: block;
  }
  
  .footer-custom .footer-legal a {
    display: inline;
  }
  
  .footer-custom a:hover,
  .footer-custom a:active,
  .ftr-links-sub li .link:hover {
    text-decoration: underline;
    color: #888;
    cursor: pointer;
  }
  
  @media only screen and (min-width: 768px) {
    .footer-custom a, .footer-custom a:link, .footer-custom a:visited, .ftr-links-sub li .link {
      padding: 0;
    }
  }
  /* BEGIN EMAIL CAPTURE STYLES*/
  
  .footer-email {
    text-align: center;
  }
  
  #ftrEmailForm {
    height: 44px;
  }
  
  #ftrEmailForm .error {
    display: none;
    color: red;
    text-align: left;
  }
  
  #ftrEmailForm #ftrEmailInput {
    background: none repeat scroll 0 0 #FFF;
    border: 1px solid #D6D6D6;
    box-sizing: border-box;
    color: #888;
    float: left;
    font: normal normal 14px/1.4 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    padding: 5px;
    width: 70%;
    height: 100%;
  }
  
  #ftrEmailForm #ftrEmailInput:hover {
    border: 1px solid #888;
  }
  
  #ftrEmailForm #ftrEmailInput:focus {
    border: 1px solid #ef9223;
    outline: #ef9223 auto 5px;
  }
  
  #ftrEmailForm .button {
    width: 30%;
    height: 100%;
    padding: 5px;
    float: left;
    border: 1px solid #DFDFDF;
    box-sizing: border-box;
    color: #000;
    font: normal bold 18px/1 BebasFamily, BebasNeueRegular, "Bebas Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    background: #FFF;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #e1e1e1));
    background: -webkit-linear-gradient(top, white 0, #e1e1e1 100%);
    background: -moz-linear-gradient(top, white 0, #e1e1e1 100%);
    background: -ms-linear-gradient(top, white 0, #e1e1e1 100%);
    background: -o-linear-gradient(top, white 0, #e1e1e1 100%);
    background: linear-gradient(to bottom, white 0, #e1e1e1 100%);
    cursor: pointer;
    vertical-align: middle;
    outline: none;
  }
  
  #ftrEmailForm .button:hover,
  #ftrEmailForm .button:active {
    background: black;
    color: #FFF;
    outline: none;
  }
  /* BEGIN SOCIAL STYLES*/
  
  .footer-social {
    text-align: center;
  }
  
  .footer-social ul {
    padding: 0;
    display: inline-block;
    list-style-type: none;
  }
  
  .footer-social ul:after {
    display: table;
    clear: both;
    content: "";
  }
  
  .footer-social li {
    float: left;
    margin: 0 15px 0 0;
    padding: 0;
  }
  
  @media only screen and (min-width: 768px) {
    .footer-lists {
      width: 100%;
    }
    .footer-email {
      width: 50%;
      float: left;
      text-align: left;
    }
    .footer-social {
      width: 45%;
      margin-left: 5%;
      float: left;
      text-align: left;
    }
  }
  
  @media only screen and (min-width: 1008px) {
    .footer-lists {
      width: 66.6666%;
      float: left;
    }
    .footer-email {
      width: 33.3333%;
    }
    .footer-social {
      width: 33.3333%;
      float: right;
      margin-left: 0;
    }
  }
  
  .footer-legal {
    padding: 15px 0 0;
    clear: left;
  }
  
  .footer-payment {
    text-align: center;
  }
  
  @media only screen and (min-width: 768px) {
    .footer-legal {
      width: 66.6666%;
      float: left;
    }
    .footer-payment {
      width: 33.3333%;
      float: left;
    }
  }
  
  @media only screen and (min-width: 1008px) {
    .footer-payment {
      text-align: left;
    }
  }
  
  .footer-payment ul {
    padding: 0;
    display: inline-block;
    list-style-type: none;
  }
  
  .footer-payment ul li {
    display: inline-block;
    margin: 0 6px;
  }
  
  @media only screen and (min-width: 1008px) {
    .footer-payment ul li.ftr-stella {
      margin-left: 0;
    }
  }

  .ftr-bbb span,
.ftr-stella span {
  background-image: url("http://cache1.artprintimages.com/images/jump_pages/rebrand2/images/subnav2.png");
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  height: 36px;
  margin: 0;
  padding: 0;
}

.ftr-bbb span {
  background-position: -339px -8px;
  width: 96px;
}

.ftr-stella span {
  background-position: -339px -107px;
  width: 57px;
}

.fadeRight {
    opacity: 0;
    transform: translate(10vh, 0vh);
    transition: all 1s;
  }
  
    .visible {
      opacity: 1;
      transform: translate(0, 0);
    }
  